In [1]:
#Importing Libraries'

import pandas as pd
import numpy as np

In [13]:
#reading all the files for data
rd_ac_pkill = pd.read_csv("Road-Accidents-2018-Annexure-1.csv")
rd_ac_vehicle_type = pd.read_csv("Road-Accidents-2018-Table-2.4.csv")
state_victims_helmet = pd.read_csv("Road-Accidents-2018-Annexure-38.csv")
state_reduce = pd.read_csv("Road-Accidents-2018-Annexure-45.csv")
drivers_classification = pd.read_csv("Road-Accidents-2018-Annexure-32.csv")
passengers_classification = pd.read_csv("RA2019_A32.csv")

In [109]:
# rd_ac_pkill.info()
rd_ac_pkill.sort_values(by='Years', ascending = False).head(3)

,Years,Total Number of Road Accidents (in numbers),Total Number of Persons Killed (in numbers),Total Number of Persons Injured (in numbers),Population of India (in thousands),Total Number of Registered Motor Vehicles (in thousands),Road Length (in kms),Number of Accidents per Lakh Population,Number of Accidents per Ten Thousand Vehicles,Number of Accidents Per Ten Thousand Kms of Roads,Number of Persons Killed Per Lakh Population,Number of Persons Killed Per Ten Thousand Vehicles,Number of Persons Killed per Ten Thousand Kms of Roads,Number of Persons Injured per Lakh Population,Number of Persons Injured Per Ten Thousand Vehicles,Number of Persons Injured Per Ten Thousand Kms of Roads
28,CAGR 2008/2018,-0.37,2.36,-1.08,1.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2018,467044.00,151417.00,469418.00,1298043.00,NaN,NaN,36.0,NaN,NaN,11.7,NaN,NaN,NaN,NaN,NaN
26,2017,464910.00,147913.00,470975.00,1283601.00,253311.0,5897671.0,36.2,18.4,788.3,11.5,5.8,250.8,36.2,18.6,798.6

In [112]:
total_road_accidents = rd_ac_pkill.loc[27, 'Total Number of Road Accidents (in numbers)']
people_kiled = rd_ac_pkill.loc[27, 'Total Number of Persons Killed (in numbers)']

print(f"There were about {total_road_accidents} in 2018")
print(f"of which {people_kiled/total_road_accidents *100}% were fatalities")

There were about 467044.0 in 2018
of which 32.420285883128784% were fatalities

In [20]:
rd_ac_vehicle_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Vehicle Type                   27 non-null     object
 1   2017 - No. of Accidents        25 non-null     float64
 2   2017 - Persons Killed          25 non-null     float64
 3   2017 - Persons Injured         25 non-null     float64
 4   2018 - No. of Accidents        27 non-null     float64
 5   2018 - Persons Killed          27 non-null     float64
 6   2018 - Persons Injured         27 non-null     float64
 7   % Increase - No. of Accidents  13 non-null     float64
 8   % Increase - Persons Killed    13 non-null     float64
 9   % Increase - Persons Injured   13 non-null     float64
dtypes: float64(9), object(1)
memory usage: 2.2+ KB

In [118]:
rd_ac_vehicle_type.head(38)

,Vehicle Type,2017 - No. of Accidents,2017 - Persons Killed,2017 - Persons Injured,2018 - No. of Accidents,2018 - Persons Killed,2018 - Persons Injured,% Increase - No. of Accidents,% Increase - Persons Killed,% Increase - Persons Injured
0,Two Wheeler,157723.0,44092.0,148907.0,164313.0,47560.0,153585.0,4.2,7.9,3.1
1,% Share in Total,33.9,29.8,31.6,35.2,31.4,32.7,NaN,NaN,NaN
2,Auto Rickshaw,29351.0,6762.0,35682.0,27385.0,6624.0,33457.0,-6.7,-2.0,-6.2
3,% Share in Total,6.3,4.6,7.6,5.9,4.4,7.1,NaN,NaN,NaN
4,Car/Jeep/Van/Taxi,113737.0,31183.0,123156.0,113490.0,30811.0,123517.0,-0.2,-1.2,0.3
5,% Share in Total,24.5,21.1,26.1,24.3,20.3,26.3,NaN,NaN,NaN
6,Bus,32145.0,10651.0,44330.0,30746.0,10507.0,42940.0,-4.4,-1.4,-3.1
7,% Share in Total,6.9,7.2,9.4,6.6,6.9,9.1,NaN,NaN,NaN
8,Truck/Lorry,58525.0,23483.0,52805.0,57441.0,23868.0,51166.0,-1.9,1.6,-3.1
9,% Share in Total,12.6,15.9,11.2,12.3,15.8,10.9,NaN,NaN,NaN
10,Heavy Articulated Vehicle/Trolly,8432.0,3780.0,6972.0,9303.0,4167.0,7786.0,10.3,10.2,11.7
11,% Share in Total,1.8,2.6,1.5,2.0,2.8,1.7,NaN,NaN,NaN
12,Tempo/Tractor,25861.0,10242.0,27676.0,23480.0,10203.0,23205.0,-9.2,-0.4,-16.2
13,% Share in Total,5.6,6.9,5.9,5.0,6.7,4.9,NaN,NaN,NaN
14,E-Rickshaw,NaN,NaN,NaN,1470.0,621.0,1361.0,NaN,NaN,NaN
15,% Share in Total,NaN,NaN,NaN,0.3,0.4,0.3,NaN,NaN,NaN
16,Bicycle,4060.0,1741.0,3141.0,3811.0,1822.0,2666.0,-6.1,4.7,-15.1
17,% Share in Total,0.9,1.2,0.7,0.8,1.2,0.6,NaN,NaN,NaN
18,Cycle Rickshaw,1247.0,590.0,926.0,891.0,451.0,701.0,-28.5,-23.6,-24.3
19,% Share in Total,0.3,0.4,0.2,0.2,0.3,0.1,NaN,NaN,NaN
20,Hand Drawn Cart,433.0,187.0,362.0,355.0,201.0,209.0,-18.0,7.5,-42.3
21,% Share in Total,0.1,0.1,0.1,0.1,0.1,0.0,NaN,NaN,NaN
22,Animal Drawn Cart,636.0,280.0,563.0,1155.0,522.0,692.0,81.6,86.4,22.9
23,% Share in Total,0.1,0.2,0.1,0.2,0.3,0.1,NaN,NaN,NaN
24,Others*,32760.0,14922.0,26455.0,33204.0,14060.0,28133.0,1.4,-5.8,6.3
25,% Share in Total,7.0,10.1,5.6,7.1,9.3,6.0,NaN,NaN,NaN
26,Total,464910.0,147913.0,470975.0,467044.0,151417.0,469418.0,0.5,2.4,-0.3

In [113]:
comparison_perc = rd_ac_vehicle_type.loc[26, '% Increase - No. of Accidents']
print(f"Which is an increase in Deaths from the previous years by {comparison_perc}%!")

Which is an increase in Deaths from the previous years by 0.5%!

In [87]:
#Deaths due to types of vehiclesin 2018
    # truck = rd_ac_vehicle_type([rd_ac_vehicle_type['Vehicle Type'] == 'Truck/Lorry'] and (rd_ac_vehicle_type['2018 - Persons Killed']))

total = rd_ac_vehicle_type.loc[26, '2018 - Persons Killed']
truck = rd_ac_vehicle_type.loc[8, '2018 - Persons Killed']
car = rd_ac_vehicle_type.loc[4, '2018 - Persons Killed']
bike = rd_ac_vehicle_type.loc[0, '2018 - Persons Killed']
rickshaw = rd_ac_vehicle_type.loc[2, '2018 - Persons Killed'] + rd_ac_vehicle_type.loc[18, '2018 - Persons Killed'] + rd_ac_vehicle_type.loc[14, '2018 - Persons Killed']

print(f"Precentage of Deaths due to Trucks in 2018 {truck/total *100}%")
print(f"Precentage of Deaths due to Cars in 2018 {car/total *100}%")
print(f"Precentage of Deaths due to Two-Wheelers in 2018 {bike/total *100}%")
print(f"Precentage of Deaths due to Rickshaws(Auto-rickshaw, E-rickshaw and Cycle Rickshaw) in 2018 {rickshaw/total *100}%")

#Injuries due to types of vehiclesin 2018
total = rd_ac_vehicle_type.loc[26, '2018 - Persons Injured']
truck = rd_ac_vehicle_type.loc[8, '2018 - Persons Injured']
car = rd_ac_vehicle_type.loc[4, '2018 - Persons Injured']
bike = rd_ac_vehicle_type.loc[0, '2018 - Persons Injured']
rickshaw = rd_ac_vehicle_type.loc[2, '2018 - Persons Injured'] + rd_ac_vehicle_type.loc[18, '2018 - Persons Killed'] + rd_ac_vehicle_type.loc[14, '2018 - Persons Killed']

print(f"Precentage of Injuries due to Trucks in 2018 {truck/total *100}%")
print(f"Precentage of Injuries due to Cars in 2018 {car/total *100}%")
print(f"Precentage of Injuries due to Two-Wheelers in 2018 {bike/total *100}%")
print(f"Precentage of Injuries due to Rickshaws(Auto-rickshaw, E-rickshaw and Cycle Rickshaw) in 2018 {rickshaw/total *100}%")

Precentage of Deaths due to Trucks in 2018 15.763091330563938%
Precentage of Deaths due to Cars in 2018 20.34844172054657%
Precentage of Deaths due to Two-Wheelers in 2018 31.409947363902337%
Precentage of Deaths due to Rickshaws(Auto-rickshaw, E-rickshaw and Cycle Rickshaw) in 2018 5.082652542316913%
Precentage of Injuries due to Trucks in 2018 10.899880277279525%
Precentage of Injuries due to Cars in 2018 26.312795845067722%
Precentage of Injuries due to Two-Wheelers in 2018 32.718174420239535%
Precentage of Injuries due to Rickshaws(Auto-rickshaw, E-rickshaw and Cycle Rickshaw) in 2018 7.355704297662212%

In [93]:
# total - 8547415

In [21]:
state_victims_helmet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 12 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Sl. No.                                            37 non-null     object
 1   States/UTs                                         37 non-null     object
 2   Drivers - Persons Killed - Number                  37 non-null     int64
 3   Drivers - Persons Killed - Rank                    36 non-null     float64
 4   Drivers - Persons Injured - Greviously Injured     37 non-null     int64
 5   Drivers - Persons Injured - Minor Injury           37 non-null     int64
 6   Drivers - Persons Injured - Total Injured          37 non-null     int64
 7   Passengers - Persons Killed - Number               37 non-null     int64
 8   Passengers - Persons Killed - Rank                 36 non-null     float64
 9   Passengers - Persons Injured - Greviously Injured  37 non-null     int64
 10  Passengers - Persons Injured - Minor Injury        37 non-null     int64
 11  Passengers - Persons Injured - Total Injured       37 non-null     int64
dtypes: float64(2), int64(8), object(2)
memory usage: 3.6+ KB

In [119]:
state_victims_helmet.head(38)

,Sl. No.,States/UTs,Drivers - Persons Killed - Number,Drivers - Persons Killed - Rank,Drivers - Persons Injured - Greviously Injured,Drivers - Persons Injured - Minor Injury,Drivers - Persons Injured - Total Injured,Passengers - Persons Killed - Number,Passengers - Persons Killed - Rank,Passengers - Persons Injured - Greviously Injured,Passengers - Persons Injured - Minor Injury,Passengers - Persons Injured - Total Injured
0,1,Andhra Pradesh,1707,6.0,1382,2292,3674,678,9.0,651,1887,2538
1,2,Arunachal Pradesh,21,27.0,29,7,36,16,26.0,16,9,25
2,3,Assam,153,17.0,201,59,260,74,18.0,148,45,193
3,4,Bihar,1221,9.0,766,155,921,1457,3.0,1101,224,1325
4,5,Chhattisgarh,1454,7.0,611,1684,2295,576,12.0,345,1408,1753
5,6,Goa,107,20.0,65,272,337,37,21.0,49,121,170
6,7,Gujarat,958,11.0,927,752,1679,588,11.0,824,587,1411
7,8,Haryana,603,16.0,201,910,1111,182,16.0,87,283,370
8,9,Himachal Pradesh,150,18.0,221,208,429,86,17.0,136,314,450
9,10,Jammu & Kashmir,38,24.0,83,109,192,10,28.0,107,88,195
10,11,Jharkhand,792,13.0,482,134,616,453,14.0,413,92,505
11,12,Karnataka,2353,5.0,3717,3736,7453,1328,4.0,2632,3497,6129
12,13,Kerala,612,15.0,1181,269,1450,509,13.0,3721,2432,6153
13,14,Madhya Pradesh,2454,4.0,1292,10097,11389,1269,5.0,896,5845,6741
14,15,Maharashtra,3520,3.0,3772,2023,5795,1732,2.0,2648,1528,4176
15,16,Manipur,28,26.0,32,81,113,18,24.0,31,107,138
16,17,Meghalaya,14,30.0,21,11,32,16,26.0,18,9,27
17,18,Mizoram,0,34.0,0,0,0,2,32.0,1,0,1
18,19,Nagaland,1,32.0,7,16,23,0,34.0,3,5,8
19,20,Odisha,1341,8.0,1276,906,2182,838,7.0,1037,933,1970
20,21,Punjab,773,14.0,366,230,596,443,15.0,265,163,428
21,22,Rajasthan,927,12.0,522,878,1400,636,10.0,506,936,1442
22,23,Sikkim,1,32.0,1,0,1,3,31.0,0,0,0
23,24,Tamil Nadu,3956,1.0,1877,18501,20378,1092,6.0,586,5574,6160
24,25,Telangana,1035,10.0,279,1712,1991,682,8.0,282,2839,3121
25,26,Tripura,38,24.0,36,0,36,20,23.0,54,8,62
26,27,Uttarakhand,68,23.0,128,24,152,46,20.0,106,26,132
27,28,Uttar Pradesh,3583,2.0,2754,1921,4675,2437,1.0,2171,1354,3525
28,29,West Bengal,91,21.0,84,94,178,68,19.0,31,56,87
29,30,Andaman & Nicobar Islands,5,31.0,23,40,63,5,30.0,10,39,49
30,31,Chandigarh,0,34.0,0,0,0,0,34.0,0,0,0
31,32,Dadra & Nagar Haveli,21,27.0,41,0,41,7,29.0,9,2,11
32,33,Daman & Diu,19,29.0,17,10,27,2,32.0,10,6,16
33,34,Delhi,127,19.0,95,315,410,37,21.0,23,79,102
34,35,Lakshadweep,0,34.0,0,0,0,0,34.0,0,0,0
35,36,Puducherry,79,22.0,231,299,530,17,25.0,44,150,194
36,Total,Total,28250,NaN,22720,47745,70465,15364,NaN,18961,30646,49607

In [100]:
state_reduce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Sl. No.                     37 non-null     object
 1   States/UTs                  37 non-null     object
 2   2017                        37 non-null     int64
 3   2018                        37 non-null     int64
 4   Reduction(+)/Increase (-)   37 non-null     int64
 5   % Share in Total Reduction  37 non-null     float64
dtypes: float64(1), int64(3), object(2)
memory usage: 1.9+ KB

In [101]:
drivers_classification.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sl. No.                      34 non-null     object
 1   State/UT                     34 non-null     object
 2   Less than 18 Years - Male    34 non-null     int64
 3   Less than 18 Years - Female  34 non-null     int64
 4   18-25 Years - Male           34 non-null     int64
 5   18-25 Years - Female         34 non-null     int64
 6   25-35 Years - Male           34 non-null     int64
 7   25-35 Years - Female         34 non-null     int64
 8   35-45 Years - Male           34 non-null     int64
 9   35-45 Years - Female         34 non-null     int64
 10  45-60 Years - Male           34 non-null     int64
 11  45-60 Years - Female         34 non-null     int64
 12  60 and Above - Male          34 non-null     int64
 13  60 and Above - Female        34 non-null     int64
 14  Age not known - Male         34 non-null     int64
 15  Age not known - Female       34 non-null     int64
 16  All Females                  34 non-null     int64
 17  All Males                    34 non-null     int64
 18  Total                        34 non-null     int64
dtypes: int64(17), object(2)
memory usage: 5.2+ KB

In [102]:
passengers_classification.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State/UT                     36 non-null     object
 1   Less than 18 years - Male    36 non-null     int64
 2   Less than 18 years - Female  36 non-null     int64
 3   18-25 Years - Male           36 non-null     int64
 4   18-25 Years - Female         36 non-null     int64
 5   25-35 Years - Male           36 non-null     int64
 6   25-35 Years - Female         36 non-null     int64
 7   35-45 Years - Male           36 non-null     int64
 8   35-45 Years - Female         36 non-null     int64
 9   45-60 Years - Male           36 non-null     int64
 10  45-60 Years - Female         36 non-null     int64
 11  60 and Above - Male          36 non-null     int64
 12  60 and Above - Female        36 non-null     int64
 13  Age not known - Male         36 non-null     int64
 14  Age not known - Female       36 non-null     int64
 15  All Females                  36 non-null     int64
 16  All Males                    36 non-null     int64
 17  Total                        36 non-null     int64
dtypes: int64(17), object(1)
memory usage: 5.2+ KB

In [114]:
#Passenger Fatality Rate
passengers_classification['All Females']= passengers_classification['Less than 18 years - Female']+passengers_classification['18-25 Years - Female']+passengers_classification['25-35 Years - Female']+passengers_classification['35-45 Years - Female']+passengers_classification['45-60 Years - Female']+passengers_classification['60 and Above - Female']+passengers_classification['Age not known - Female']
passengers_classification['All Males']= passengers_classification['Less than 18 years - Male']+passengers_classification['18-25 Years - Male']+passengers_classification['25-35 Years - Male']+passengers_classification['35-45 Years - Male']+passengers_classification['45-60 Years - Male']+passengers_classification['60 and Above - Male']+passengers_classification['Age not known - Male']

# passengers_classification.head(2)

In [104]:
highest_male_age_group = passengers_classification.iloc[:, 1:14:2].sum(axis=0).idxmax()
highest_female_age_group = passengers_classification.iloc[:, 2:15:2].sum(axis=0).idxmax()

print("Highest count age group for males:", highest_male_age_group)
print("Highest count age group for females:", highest_female_age_group)

Highest count age group for males: 25-35 Years - Male
Highest count age group for females: 25-35 Years - Female

In [105]:
# Remove the total row
passengers_classification = passengers_classification.drop(passengers_classification.index[-1])

# Calculate the sum of values for each state
passengers_classification['Total'] = passengers_classification.iloc[:, 1:].sum(axis=1)

# Find the state with the highest overall sum
state_with_highest_value = passengers_classification.loc[passengers_classification['Total'].idxmax(), 'State/UT']

print("State with the highest overall value:", state_with_highest_value)

State with the highest overall value: Uttar Pradesh

In [115]:
#Drivers Fatality Data
drivers_classification['All Females']= drivers_classification['Less than 18 Years - Female']+drivers_classification['18-25 Years - Female']+drivers_classification['25-35 Years - Female']+drivers_classification['35-45 Years - Female']+drivers_classification['45-60 Years - Female']+drivers_classification['60 and Above - Female']+drivers_classification['Age not known - Female']
drivers_classification['All Males']= drivers_classification['Less than 18 Years - Male']+drivers_classification['18-25 Years - Male']+drivers_classification['25-35 Years - Male']+drivers_classification['35-45 Years - Male']+drivers_classification['45-60 Years - Male']+drivers_classification['60 and Above - Male']+drivers_classification['Age not known - Male']

# drivers_classification.head(2)

In [107]:
# Remove the total row
drivers_classification = drivers_classification.drop(drivers_classification.index[-1])

# Find the column with the maximum count
max_age_group_male = drivers_classification.iloc[:, 2:15:2].sum().idxmax()
max_age_group_female = drivers_classification.iloc[:, 3:16:2].sum().idxmax()

# Find the state with the maximum value
drivers_classification['Total'] = drivers_classification.iloc[:, 2:].sum(axis=1)
state_with_max_value = drivers_classification.loc[drivers_classification['Total'].idxmax(), 'State/UT']

print("Max age group for males:", max_age_group_male)
print("Max age group for females:", max_age_group_female)
print("State with the maximum value:", state_with_max_value)

Max age group for males: 25-35 Years - Male
Max age group for females: 25-35 Years - Female
State with the maximum value: Uttar Pradesh